[Unit]
Description=KHeadless remote Plasma workspace
Requires=graphical-session.target
After=graphical-session.target
Wants=app-org.kde.kheadlessd.service

[Install]
WantedBy=default.target
